.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  /* padding: 2rem; */
  /* width: 100%; */
}
.title > span {
  display: block;
}
