.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  width: 444px;
  aspect-ratio: 1/1;
  background-color: var(--background-200);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 39px;
  border: 2px solid var(--background-200);
  overflow: hidden;
}

.cardDeck {
  aspect-ratio: 256/325;
  width: 58%;
  /* background-color: blueviolet; */
  position: relative;
  container-type: inline-size;
}

.card {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-origin: center 400%;
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 780ms;
  transition-timing-function: var(--timing-function);
  border-radius: 10.2cqw;
  box-shadow: 0 2.175px 16.309px -3.262px rgba(0, 0, 0, 0.08);
}

.avatarWrapper {
  width: min(136px, 53.29%);
  /* aspect-ratio: 1/1; */
  margin: 0 auto;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.score {
  /* font-size: 48px; */
  font-size: 19cqw;
  letter-spacing: 0.06em;
  font-weight: 766;
}

.name {
  font-size: 7cqw;
  font-weight: 400;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.08em; */
}

/* State hooks: style freely without touching the component */
.onDeck {
  /* background-color: yellow; */
  z-index: 99;
}
.upNext {
  /* background-color: green; */
  transform: scale(0.95) translate3d(0, -13%, 0);
  /* opacity: 0.5; */
  z-index: 50;
}
.third {
  /* background-color: blue; */
  transform: scale(0.91) translate3d(0, -24.5%, 0);
  z-index: 25;
}
.upNext,
.third {
  background-color: #faf9f8;
}
.fourth {
  /* background-color: magenta; */
  z-index: -10;
}
.third,
.fourth {
  opacity: 0;
}
.swiped {
  /* background-color: orange; */
  z-index: 101;
}

.swiped,
.fourth {
  transform: rotate(-22deg);
}
[data-card-id="c"].swiped,
[data-card-id="c"].fourth {
  transform: rotate(22deg);
}
