.page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  overflow: hidden;
}
.nav {
  flex: 0 0 auto;
  background-color: slateblue;
  padding: 0 44px;
}
.area {
  flex: 999 1 1px;
  max-height: 740px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 44px;
  min-height: 0px;
  overflow: auto;
  justify-content: space-around;
}
.chunk {
  background-color: blueviolet;
  height: 100px;
  width: 100%;
  max-width: 512px;
  margin: 0 auto;
  flex: 0 0 auto;
}
.area > .chunk {
  background-color: darkmagenta;
}
.controls {
  flex: 1 0 auto;
  background-color: darkblue;
  padding: 0 44px;
}
