.thumb {
  width: 444px;
  aspect-ratio: 1/1;
  background-color: var(--background-200);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 39px;
  border: 2px solid var(--background-200);
  overflow: hidden;
}

.grid {
  width: 72.07207207%;
  aspect-ratio: 1;
  position: relative;
}
.canvas,
.image,
.mask,
.placeholders,
.outlines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* clip-path: circle(50px at 0 100px); */
}
.canvas {
  clip-path: url(#dots);
}
.mask circle {
  transition: r 320ms ease-out;
}

.outlines {
  stroke: #fff;
  stroke-width: 8px;
}
.placeholders {
  fill: #e8e7e4;
}
